[Unit]
Description=Check Rabbit Quant production updates every 15 seconds

[Timer]
OnBootSec=15s
OnUnitActiveSec=15s
RandomizedDelaySec=2
AccuracySec=1s
Persistent=true
Unit=rabbit-quant-deploy.service

[Install]
WantedBy=timers.target
